<a href="https://colab.research.google.com/github/techrj786/catphotoapp/blob/main/Python%20Excerises_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Excerise 1**

## **Arithmetic Operator**

1. Multiply 10 with 5, and print theresult.

In [ ]:
a=10
b=5
print(a*b)

50

2. Add 20 with 66, and print the result.

In [ ]:
a=20
b=66
print(a+b)

86

3. Subtract 88 with 52, and print the result

In [ ]:
a=88
b=52
print(a-b)

36

4. Divide 20 with 6, and print the result.

In [ ]:
a=20
b=6
print(a/b)

3.3333333333333335

5. Modulo 52 with 4, and print the result.

In [ ]:
a=52
b=4
print(a%b)

0

6. Exponantion 5 with 66, and print the result

In [ ]:
a=5
b=66
print(a**b)

13552527156068805425093160010874271392822265625

7. Floor division of 20 with 6, and print the result

In [ ]:
a=20
b=6
print(a//b)

3

##**What will be the output of following expression in python?**

In [ ]:
4 + 5.2 - 0.2

9.0

In [ ]:
9.8 - 2.1 * 3

3.5

In [ ]:
2 * 3 - 4 // 2

4

In [ ]:
(10 + 4 * 2) / 9 + 1

3.0

In [ ]:
(True or False) and (not (True and False))

True

In [ ]:
2**3%2==4

False

In [ ]:
2.5/0.5/2

2.5

In [ ]:
2.5/0.5//2

2.0

In [ ]:
5**3+3**4>=200

True

## **Comparision operarator**

In [ ]:
x1=54
x2=33
if(x1==x2):
    print("x1 and x2 are equal")
elif(x1>x2):
     print("x1 is greater than x2")
elif(x1>=x2):
    print("x1 is grater than or equal to x2")
elif(x1<x2):
    print("x1 is less than x2")
elif(x1<=x2):
    print("x1 is less than or equal to x2")
else:
    print("no relation exist between x1 and x2")

x1 is greater than x2

## **Logical operator**

In [ ]:
o=True
p=False
print(o and p)  #AND OPERATION

print( o or p) #OR OPERATION

print(not p) #NOT OPERATION

print(not (o or p)) #nor operator

False
True
True
False

## **Assignment operators**

In [ ]:
q=66
r=8
# Augmented Assignment Operators
q += r   # q = q + r
print(q)  # Output: 74

q = 66  # Reset q to its original value

q -= r   # q = q - r
print(q)

q = 66  # Reset q to its original value

q *= r   # q = q * r
print(q)

q = 66  # Reset q to its original value

q /= r   # q = q / r
print(q)

q = 66  # Reset q to its original value

q %= r   # q = q % r
print(q)

q = 66  # Reset q to its original value

q **= r  # q = q ** r
print(q)

q = 66  # Reset q to its original value

q //= r  # q = q // r
print(q)

74
58
528
8.25
2
360040606269696
8

## **Membership Operator**

In [ ]:
a = 'Hello World'
print('Hello' in 'Hello World')
print('Name' in 'Hello World')

b= [1,2,3,4,5]
print( 5 in b)

True
False
True

# **Excerise 2**

1) Write a program to check the given number is Odd or Even.

In [ ]:
num= int(input("Enter the num : "))
if num ==0:
     print("Enter the num grater than Zero")
elif num%2==0:
     print(num, "is even Num.")
else :
     print(num,"is Odd Num")

Enter the num : 5
5 is Odd Num

2) Write a program to check if a given number is positive, negative or zero.

In [ ]:
num = int(input("Enter the number : "))
if num==0 :
   print(num,"Is Zero")
elif num>0 :
   print(num, "Is Positive ")
elif num<0 :
  print(num, "Is Negative")
else:
  print("Enter valid Num")

Enter the number : 0
0 Is Zero

3) Write a program to swap the two numbers without using temporary
variable.

In [ ]:
a= int(input("Enter Num1 : "))
b= int(input("Enter Num2 : "))

a= a+b
b= a-b
a= a-b
print("After Swaping Num1 is",a,"and Num2 is ",b)

Enter Num1 : 3
Enter Num2 : 4
After Swaping Num1 is 4 and Num2 is  3

4) Write a program to find Largest among given Three Numbers.

In [ ]:
#find largest among given numbers
x=float(input("Enter number 1: "))
y=float(input("Enter number 2: "))
z=float(input("Enter number 3: "))
if x>y and x>z:
    print(" largest num is ", x)
elif y>z and y>x:
    print("largest num is ", y)
elif z>y and z>x:
    print("largest num is ", z)
elif x==y and x>z and y>z:
    print("largest num is ",x)
elif x==z and x>y and y<z:
    print("largest num is ",x)
elif y==z and x<z and z>x:
    print("largest num is ",x)
else:
    print("All numbers are same")

Enter number 1: 1
Enter number 2: 1
Enter number 3: 2
largest num is  2.0

5) Write a program to sum o f ODD and EVEN numbers in Given Range.

In [ ]:
n1 = int(input("Enter the first num of range : "))
n2 = int(input("Enter the last num of range : "))
even_sum=0
odd_sum=0
if n1>n2:
   print("Enter the Valid Range Numbers")
for num in range(n1,n2):
    if num%2==0:
        even_sum +=num
    else:
        odd_sum +=num

print("Sum of even numbers :",even_sum)
print("Sum of odd numbers :",odd_sum)

Enter the first num of range : 20
Enter the last num of range : 30
Sum of even numbers : 120
Sum of odd numbers : 125

6) Write a program make a simple calculator that can add, subtract, multiply
and divide using user choice.

In [ ]:
a= float(input("Enter An NUMBER 1 : "))
b= float(input("Enter Another NUMBER 2 : "))

print("1 - Addition\n2 - Substraction\n3 - Multiplication\n4 - Division\n5 - Floor Division\n6 - Modulo")

option = int(input("Enter one option from the above list:- "))

if option == 1:
   print(f"Addition: {a + b}")
elif option == 2:
   print(f"Substraction: {a - b}")
elif option == 3:
   print(f"Multiplication: {a * b}")
elif option == 4:
   print(f"Division: {a / b}")
elif option == 5:
   print(f"Floor Division: {a // b}")
elif option == 6:
   print(f"Modulo: {a % b}")

Enter An NUMBER 1 : 20
Enter Another NUMBER 2 : 21
1 - Addition
2 - Substraction
3 - Multiplication
4 - Division
5 - Floor Division
6 - Modulo
Enter one option from the above list:- 2
Substraction: -1.0

7) Write a program to calculate SPI using given marks

In [ ]:
print('Enter the number of subjects:')
num_subjects = int(input())

print('GRADE TABLE: \n AA = 10 \n AB = 9\n BB = 8 \n BC = 7 \n CC = 6 \n CD = 4 \n DD = 4 \n FF = 0')

grade_points = []
credits = []

for i in range(num_subjects):
    print(f'Enter the GRADE POINT of subject {i + 1}:')
    grade_points.append(int(input()))

    print(f'Enter the credits for subject {i + 1}:')
    credits.append(int(input()))

spi = sum(grade_points[i] * credits[i] for i in range(num_subjects)) / sum(credits)

if spi <= 10:
    print('Congratulations! Your SPI is:', spi)
else:
    print('Please enter valid grade points. Refer to the GRADE TABLE.')

Enter the number of subjects:
5
GRADE TABLE:
 AA = 10
 AB = 9
 BB = 8
 BC = 7
 CC = 6
 CD = 4
 DD = 4
 FF = 0
Enter the GRADE POINT of subject 1:
8
Enter the credits for subject 1:
5
Enter the GRADE POINT of subject 2:
10
Enter the credits for subject 2:
3
Enter the GRADE POINT of subject 3:
8
Enter the credits for subject 3:
4
Enter the GRADE POINT of subject 4:
10
Enter the credits for subject 4:
5
Enter the GRADE POINT of subject 5:
6
Enter the credits for subject 5:
2
Congratulations! Your SPI is: 8.631578947368421